
<form asp-action="Submit">
    <table id="Bill" class="table">
        <thead>
            <tr>
                <th>
                    Quantity
                </th>
                <th>
                    Purchase Date
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <input type="submit" class="btn btn-light" value="Submit" />
</form>
