@model DemoWebApp.Models.Sales
@{
    <tr>
        <td>
            @Html.DisplayFor(model => model.Quantity)
        </td>
        <td>
            @Html.DisplayFor(model => model.PurchaseDate)
        </td>
    </tr>
}
