@model DemoWebApp.Models.Sales
@{
    <tr>
        <td class="text-hide">
            @Model.MedicineDetailsRefId
        </td>
        <td>
            @Model.Quantity
        </td>
        <td>
            @Model.Net
        </td>
        <td>
            @Model.PurchaseDate.ToShortDateString()
        </td>
    </tr>
}
