
<table id="Bill" class="table">
    <thead>
        <tr>
            <th class="text-hide">
                MedicineRefId
            </th>
            <th>
                Quantity
            </th>
            <th>
                Net
            </th>
            <th>
                PurchaseDate
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
<div class="container">
    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-light" onclick="SubmitFxn()">Submit</button>
        </div>
        <div class="col">
            <label>  Total: </label>
            <input id="Total" size="1" type="number" disabled="disabled" />
        </div>
    </div>
</div>

