
@{
     ViewData["Title"] = "Sales";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sales</title>
</head>
<body>
    <div class="text-center">
        <h1>This is a Sales Panel</h1>
    </div>
</body>
</html>
