
@{
    ViewData["Title"] = "Sales";
}
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="input-group mb-3">
                <input type="text" id="searchBox" name="searchString" placeholder="Enter your keyword" />
                <div class="input-group-append">
                    <button id="SearchBtn" class="btn btn-outline-dark">Search</button>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div>
                <label>Buyer Name</label>
                <input type="text" id="BuyerName" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6" id="MedicineDetails">
            <partial name="Details.cshtml" />
        </div>
        <div class="col-6">
            <partial name="Bill.cshtml" />
        </div>
    </div>
    <div class="row">
        <label class="text-danger" id="Warning"></label>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery/jquery-ui.js"></script>
    <script src="~/lib/jquery.tabletojson.js"></script>
    <script>
        $(document).ready(function () {
            $("#searchBox").autocomplete({
                source: 'api/SalesApi/Search'
            });
        });
        $(function () {
            $('#SearchBtn').click(function () {
                var searchString = $("#searchBox").val();
                $.ajax({
                    url: '/Sales/Details',
                    dataType: 'html',
                    data: { searchString: searchString },
                    success: function (data) {
                        $('#MedicineDetails').html(data);
                    }
                });
            });
        });
        function Enter(id, rate, remaining) {
            var quantity = document.getElementById(id).value;
            if (quantity > remaining || quantity < 0 || !Number.isInteger(+quantity)) {
                $('#Warning').text("Please input a valid quantity");
            }
            else {
                $('#Warning').text("");
                $.ajax({
                    cache: false,
                    url: '/Sales/BillColumn',
                    dataType: 'html',
                    data: { id: id, quantity: quantity, rate: rate },
                    success: function (data) {
                        $('#Bill').find('tbody').append(data);
                        var total = $('#Total').val();
                        total = +total + quantity * rate;
                        $('#Total').val(total);
                    }
                });
            }
        }
        function SubmitFxn() {
            var jsonObject = $('#Bill').tableToJSON();
            var BuyerName = $('#BuyerName').val();
            for (var i in jsonObject) {
                jsonObject[i].BuyerName = BuyerName;
            }
            console.log(jsonObject);
            $.ajax({
                type: 'post',
                url: '/Sales/Submit',
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(jsonObject),
                success: function (data) {
                    alert(data.success);
                    window.location.href = "/Sales";
                }
            });
        }

    </script>
}